In [1]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm
import numpy as np

In [2]:
avals = pd.read_csv('/home/NETID/lundvm/data/tR_1.0--fE_0.90/allAvalanche.csv')
bursts = pd.read_csv('/home/NETID/lundvm/data/tR_1.0--fE_0.90/allAvalBurst.csv')

In [3]:
avals['WithinBurst'] = 0
avals.head()

   ID  StartRow  EndRow    StartT      EndT  Width  TotalSpikes  WithinBurst
0   1         3       6  96709741  96709749      9            5            0
1   2        10      13  96709762  96709773     12            6            0
2   3        16      18  96709779  96709787      9            3            0
3   4        19      23  96709790  96709795      6            7            0
4   5        24      29  96709799  96709805      7            9            0

In [4]:
bursts.head()

   ID  StartRow  EndRow    StartT      EndT  Width  TotalSpikes     IBI
0   1       898    4715  96710760  96714577   3818        36099    1051
1   2      6552    9146  97005292  97007886   2595        31500  290715
2   3      9627   11321  97103272  97104966   1695        32318   95386
3   4     12167   14682  97612380  97614895   2516        29529  507414
4   5     15314   17850  97871054  97873590   2537        31009  256159

In [ ]:
for index, row in tqdm(bursts.iterrows(), total=bursts.shape[0]):
    burst_start_time = row['StartT']
    burst_end_time = row['EndT']
    avals.loc[(avals['StartT'] >= burst_end_time) & (avals['StartT'] <= burst_end_time + 1000), 'WithinBurst'] = 2
    avals.loc[(avals['EndT'] <= burst_start_time) & (avals['EndT'] >= burst_start_time - 1000), 'WithinBurst'] = 1
    avals.loc[(avals['EndT'] == burst_end_time) & (avals['StartT'] == burst_start_time), 'WithinBurst'] = 3

In [ ]:
nonburst_avals_1000 = avals[avals['WithinBurst'] == 0]

In [5]:
avals['WithinBurst'] = 0
for index, row in tqdm(bursts.iterrows(), total=bursts.shape[0]):
    burst_start_time = row['StartT']
    burst_end_time = row['EndT']
    avals.loc[(avals['StartT'] >= burst_end_time) & (avals['StartT'] <= burst_end_time + 450), 'WithinBurst'] = 2
    avals.loc[(avals['EndT'] <= burst_start_time) & (avals['EndT'] >= burst_start_time - 450), 'WithinBurst'] = 1
    avals.loc[(avals['EndT'] == burst_end_time) & (avals['StartT'] == burst_start_time), 'WithinBurst'] = 3

HBox(children=(IntProgress(value=0, max=9729), HTML(value='')))

In [6]:
nonburst_avals_450 = avals[avals['WithinBurst'] == 0]
nonburst_avals_450.shape

(454, 8)

In [7]:
nonburst_avals_450

,ID,StartRow,EndRow,StartT,EndT,Width,TotalSpikes,WithinBurst
0,1,3,6,96709741,96709749,9,5,0
1,2,10,13,96709762,96709773,12,6,0
2,3,16,18,96709779,96709787,9,3,0
3,4,19,23,96709790,96709795,6,7,0
4,5,24,29,96709799,96709805,7,9,0
5,6,30,34,96709807,96709814,8,6,0
6,7,35,38,96709816,96709819,4,7,0
7,8,39,41,96709821,96709823,3,4,0
8,9,42,44,96709825,96709827,3,3,0
9,10,45,47,96709830,96709832,3,6,0
10,11,50,56,96709837,96709845,9,10,0
11,12,57,62,96709847,96709853,7,9,0
12,13,63,68,96709855,96709862,8,16,0
13,14,69,77,96709864,96709874,11,16,0
14,15,78,82,96709876,96709880,5,10,0
15,16,83,92,96709882,96709891,10,15,0
16,17,93,99,96709893,96709899,7,16,0
17,18,100,104,96709901,96709905,5,9,0
18,19,105,109,96709909,96709913,5,11,0
19,20,110,112,96709915,96709917,3,11,0
20,21,113,134,96709919,96709940,22,49,0
21,22,135,142,96709942,96709951,10,23,0
22,23,144,154,96709954,96709965,12,21,0
23,24,155,163,96709967,96709976,10,23,0
24,25,164,178,96709978,96709994,17,37,0
25,26,179,186,96709996,96710003,8,13,0
26,27,187,194,96710006,96710013,8,21,0
27,28,195,203,96710015,96710023,9,18,0
28,29,204,210,96710025,96710031,7,21,0
29,30,211,225,96710033,96710047,15,32,0
...,...,...,...,...,...,...,...,...
8991,8992,578250,578252,112747619,112747639,21,3,0
8992,8993,578254,578257,112747650,112747661,12,4,0
8993,8994,578258,578260,112747668,112747671,4,6,0
8994,8995,578262,578264,112747674,112747680,7,4,0
11356,11357,741127,741129,115863346,115863349,4,4,0
11357,11358,741132,741134,115863362,115863385,24,3,0
13319,13320,882065,882067,118516639,118516659,21,4,0
13320,13321,882068,882070,118516664,118516678,15,4,0
16043,16044,1077823,1077827,122287340,122287347,8,8,0
16044,16045,1077831,1077833,122287376,122287383,8,4,0
18304,18305,1241143,1241145,125699762,125699768,7,3,0
18305,18306,1241148,1241151,125699781,125699785,5,5,0
18306,18307,1241156,1241164,125699800,125699811,12,11,0
18307,18308,1241165,1241168,125699814,125699821,8,7,0
18308,18309,1241169,1241174,125699823,125699830,8,9,0
18309,18310,1241175,1241177,125699833,125699835,3,4,0
18310,18311,1241178,1241184,125699837,125699843,7,9,0
22422,22423,1548476,1548478,131844703,131844714,12,4,0
22423,22424,1548479,1548481,131844717,131844719,3,3,0
22732,22733,1572896,1572898,132474760,132474773,14,4,0
22733,22734,1572899,1572903,132474777,132474783,7,7,0
23153,23154,1603839,1603841,133033855,133033864,10,3,0
23319,23320,1615978,1615980,133267140,133267148,9,3,0
23320,23321,1615981,1615983,133267152,133267158,7,4,0
23321,23322,1615984,1615986,133267160,133267163,4,4,0
25356,25357,1773377,1773379,136385781,136385794,14,4,0
25357,25358,1773380,1773382,136385798,136385804,7,7,0
25538,25539,1786724,1786726,136648243,136648251,9,3,0
26201,26202,1837553,1837555,137689587,137689595,9,3,0
26202,26203,1837556,1837558,137689600,137689604,5,4,0

In [ ]:
avals['WithinBurst'] = 0
for index, row in tqdm(bursts.iterrows(), total=bursts.shape[0]):
    burst_start_time = row['StartT']
    burst_end_time = row['EndT']
    avals.loc[(avals['StartT'] >= burst_end_time) & (avals['StartT'] <= burst_end_time + 1500), 'WithinBurst'] = 2
    avals.loc[(avals['EndT'] <= burst_start_time) & (avals['EndT'] >= burst_start_time - 1500), 'WithinBurst'] = 1
    avals.loc[(avals['EndT'] == burst_end_time) & (avals['StartT'] == burst_start_time), 'WithinBurst'] = 3

In [ ]:
nonburst_avals_1500 = avals[avals['WithinBurst'] == 0]
nonburst_avals_1500.shape

In [ ]:
avals['WithinBurst'] = 0
for index, row in tqdm(bursts.iterrows(), total=bursts.shape[0]):
    burst_start_time = row['StartT']
    burst_end_time = row['EndT']
    avals.loc[(avals['EndT'] == burst_end_time) & (avals['StartT'] == burst_start_time), 'WithinBurst'] = 1

In [ ]:
nonburst_avals_all = avals[avals['WithinBurst'] == 0]
nonburst_avals_all.shape

In [ ]:
nonburst_avals_450